@charset "UTF-8";
/* CSS Document */

@media only screen and (max-width: 40em) {
.brand-heading {
	margin-bottom:100px;
}
header { 
	clear:both;
}
.tablet {
	 background-color: white;
    position: fixed;
    font-family: 'Open Sans';
    width: 100%;
    z-index: 100;
}
.button {
	width: 35%;
	padding-top:20px;
	padding-bottom:20px;
	padding-right:5px;
	padding-left: 5px;
	border-color: #AD9973;
	border-width:medium;
	background-color:#fff;
	color: #000;
	font-family: 'Open Sans';
	font-weight: normal;
	font-size:10px;
	margin-top:17px;
	margin-left: 25px;
	margin-right: 25px;
}
.button:hover {
	background-color:#AD9973;
	font-family: 'Open Sans';
	font-weight:bolder;	
}
.black-top {
	clear:both;
	width:100%;
	padding-top:35em;
}
.copyright{
	font-size:.05em
}
.black-footer {
	clear:both;
	width:100%;
}
.black-bottom {
	 clear: both;
	 width: 100%;
}
small {
	font-size:8px;
	color:#fff;
}
.body-inverse {
    color: #fff;
    font-family: "Open Sans";
    font-weight: lighter;
	font-size:13px;
	text-align:justify;
}
.header-inverse {
    color: #fff;
	font-family: 'Open Sans';
	font-size: 27px;
}
small {
	font-size:7px;
}
a {
    color: #fff;
}
a:hover {
    color: #fff;
    font-family: 'Open Sans';
}
nav ul {
    list-style-type: none;
    padding: 5px;
    margin-top: 19px;
    text-align: left;
	width:100%;
}
nav {
    background-color: white;
    position: fixed;
    font-family: 'Open Sans';
    width: 100%;
    z-index: 100;
	clear:both;
	margin-top:-121px;
}
nav li {
    display: inline;
    padding: 10px;
	width:100%;
}
.facebook-icon {
	margin-top: 26px;
}
.facebook-icon:hover {
	margin-top: 26px;
	opacity:0.1;
}
.twitter-icon {
	margin-top: 26px;
}
.twitter-icon:hover {
	margin-top: 26px;
	opacity:0.1;
}
.instagram-icon {
	margin-top: 26px;
}
.instagram-icon:hover {
	margin-top: 26px;
	opacity:0.1;
}
#about {
	margin-top:70px;
	margin-bottom: 70px;
    clear: both;
}
.about-copy {
	padding-top:30px;
}
img {
    width: 100%;
}
.project-black-top {
	clear:both;
	width:100%;
	padding-top:220px;
	margin-bottom:-645px;
	margin-top:120px;
}
.project-images{
	width:100%;
}
.project-image1 {
	margin-bottom:30px;
	width:100%
}
.project-image3 {
	margin-top:30px;
}
.project-button-next {
	padding-bottom:30px;
	padding-right:125px;
}
.project-button-previous {
	padding-bottom:30px;
	padding-left:125px;
}
.project-info {
	margin-top: 70px;
	margin-bottom: 60px;
}
.project-info h3 {
		color: #AD9973;
	font-size:1.2em;
	font-family: 'Open Sans';
	font-weight:600;
	padding-bottom:.01em;
}
.project-info p {
	color: #000;
	font-size:.8em;
	font-family: 'Open Sans';
	font-weight:lighter;
	padding-bottom:50px;
}
.project-content {
	margin-bottom: 25px;
}
.project-title {
    font-size: 24px;
    font-family: 'Open Sans';
    font-weight: bold;
    margin-top: 100px;
	text-align:center;
	margin-bottom:25px;
}
.project-title h2 {
	font-size: 26px;
}
.back-button {
	padding-bottom:12px;
	padding-left:12px;
	padding-top:12px;
}
.navigaton {
	padding-top:10px;
	padding-left:0px;
}
h3 {
	font-size:1.2em;
}
.copyright {
	margin-top:-15px;
}
h2 {
	font-family: 'Open Sans';
    font-size: 2.2em;
	font-weight:bold;
    color: #AD9973;
	line-height: 23px;
	width:100%;
	margin-top:-12px;
}
p {
    font-family: 'Open Sans';
    font-weight: lighter;
	line-height: 18px;
	font-size:0.7em;
}
#work {
    clear: both;
	width: 100%;
	margin-top:-1618px;
}
.contact-icons { 
	padding-top: 57px;
}

.form-icon1 {
    margin-top:-10px;
	width: 15%;
	padding-right: 10px;
	/*padding-left: -15px;*/
	float: left;
}
.form-icon2 {
    margin-top:21px;
	width: 15%;
	padding-right: 10px;
	/*padding-left: -15px;*/
	float: left;
}
.contact-email {
	padding-right: 16px;
}
.email { 
	padding-top: 5px;
}
.phone { 
	padding-top: 35px;
}
a .project-1:hover {
    background-color: #AD9973;
}
small {
    float: right;
}

.project-image4 {
	margin-top: 30px;
}
.zoom-caption a:hover {
	display:none;
}
.zoom-caption p {
	color: #000;
	line-height:0.1em;
	padding-bottom:50px;
	font-size:.8em;
	font-family: 'Open Sans';
	font-weight:lighter;
}
.zoom-caption h3 {
	color: #AD9973;
	font-size:1.2em;
	font-family: 'Open Sans';
	font-weight:600;
	padding-bottom:.01em;
}
.info p {
	color: #000;
	font-size:.7em;
	font-family: 'Open Sans';
	font-weight:lighter;
	padding-right:70px;
	padding-bottom:50px;
}
.info h3 {
	color: #AD9973;
	font-size:1.2em;
	font-family: 'Open Sans';
	font-weight:600;
	padding-bottom:.01em;
}
}

 
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
.brand-heading {
	margin-bottom:280px;
}
header { 
	clear:both;
}
button, .button {
	width: 15%;
	padding-top:15px;
	padding-bottom:15px;
	padding-right:5px;
	padding-left: 5px;
	border-color: #AD9973;
	border-width:medium;
	background-color:#fff;
	color: #000;
	font-family: 'Open Sans';
	font-weight: normal;
	font-size: 10px;
	margin-top:17px;
	margin-left: 25px;
	margin-right: 25px;
}
button, .button:hover {
	background-color:#AD9973;
	font-family: 'Open Sans';
	font-weight:bolder;	
}
button {
    border-style: solid;
    background: none;
    border-color: #AD9973;
}
.tablet{
	 background-color: white;
    position: fixed;
    font-family: 'Open Sans';
    width: 100%;
    z-index: 100;
}
.black-top {
	clear:both;
	width:100%;
	padding-top: 412px;
}
.black-footer {
	clear:both;
	width:100%;
}
.black-bottom {
	 clear: both;
	 width: 100%;
}
small {
	color:#fff;
}
.body-inverse {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: lighter;
	font-size:13px;
	text-align:justify;
}
.header-inverse {
    color: #fff;
	font-family: 'Open Sans';
	font-size: 27px;
}
a {
    color: #000;
}
a:hover {
    color: #AD9973;
    font-family: 'Open Sans';
}
nav ul {
    list-style-type: none;
    padding: 5px;
    margin-top: 5px;
    text-align: left;
	width:100%;
}
.tablet {
	width:100%;
}
nav {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
	clear:both;
}
nav li {
	font-family: 'Open Sans';
	font-size:10px;
    display: inline;
    padding: 10px;
	width:100%;
}
.instagram-icon:hover {
	margin-top: 20px;
	opacity:0.1;
}
.facebook-icon:hover {
	margin-top: 20px;
	opacity:0.1;
}
.twitter-icon:hover {
	margin-top: 20px;
	opacity:0.1;
}
.small-3 {
	width:20%;
}
.social-icon {
	padding: 40px;
}
.facebook-icon {
	margin-top: 20px;
}
.twitter-icon {
	margin-top: 20px;
}
.instagram-icon {
	margin-top: 20px;
}
#contact {
    clear: both;
	margin-bottom:70px;
}
#contact-tablet {
    clear: both;
	margin-bottom:70px;
}
#about {
	margin-top:280px;
	margin-bottom:280px;
    clear: both;
}
img {
    width: 100%;
}
.project-black-top {
	clear:both;
	width:100%;
    padding-top:600px;
}
.project-images {
	margin-top:-1040px;
}
.project-image1 {
	margin-bottom:30px;
}
.project-button-next {
	padding-bottom:30px;
	padding-right:125px;
}
.project-button-previous {
	padding-bottom:30px;
	padding-left:125px;
}
.project-info {
	margin-top: 70px;
	margin-bottom: 60px;
}
.project-content {
	margin-bottom: 25px;
}
.title {
}
.project-title h2 {
    margin-top: -1200px;
    font-size: 50px;
    font-family: 'Open Sans';
    font-weight: bolder;
    margin-bottom: 90px;
	text-align:center;
}
.copyright {
	font-size:10px;
	margin-top:-25px;
}
h2 {
	font-family: 'Open Sans';
    font-size: 28px;
	font-weight:600;
    color: #AD9973;
	width:100%;
	margin-top:-8px;
}
p {
    font-family: 'Open Sans';
    font-weight: lighter;
	font-size:11px;
}
#work {
    clear: both;
	width: 100%;
	margin-top:-1618px;
}
.contact-icons { 
	/*padding-top: 57px;*/
	margin-left:57px;
}
.contact-cell{
	margin-top:28px;
}
.contact-email{
	margin-top:50px;
}
.form-icon1 {
    margin-top:-10px;
	width: 15%;
	padding-right: 10px;
/*	padding-left: -15px;*/
	float: left;
}
.form-icon2 {
    margin-top:21px;
	width: 15%;
	padding-right: 10px;
	/*padding-left: -15px;*/
	float: left;
}
form .button {
	width: 60%;
	padding-top:10px;
	padding-bottom: 10px;
	padding-right:5px;
	padding-left: 5px;
	border-color: #AD9973;
	border-width:medium;
	background-color:#fff;
	color: #000;
	font-family: 'Open Sans';
	font-weight: normal;
	font-size:13px;
	margin-top:17px;
	margin-left:0px;
}
form .button:hover {
	background-color:#AD9973;
	font-family: 'Open Sans';
	font-weight:bolder;	
}
.email {
	font-size:10px;
}
.phone { 
	padding-top: 28px;
}
a .project-1:hover {
    background-color: #AD9973;
}
small {
    float: right;
}

.thumb-content {
	opacity: 0;
}

/** Caption 3: Fade **/
.zoom-caption {
	opacity: .9;
	width: 100%;
	height: 100%;
	text-align: left;
	padding: 15px;
}
/** Fade Caption :hover Behaviour **/

.image-zoom-container {
	list-style: none;
	font-size: 0px;
	padding: 7px;
}
h3 { z-index:96;
}
.thumb-content { z-index:96;
}
.zoom-container {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	font-size: 16px;
	font-size: 1rem;
	border: 1px solid #fff;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.zoom-container img {
	display: block;
	width: 100%;
	height: auto;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
        -moz-transition: all .5s ease; /* Firefox */
        -ms-transition: all .5s ease; /* IE 9 */
        -o-transition: all .5s ease; /* Opera */
        transition: all .5s ease;
}
.zoom-container .zoom-caption {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
        -moz-transition: all .5s ease; /* Firefox */
        -ms-transition: all .5s ease; /* IE 9 */
        -o-transition: all .5s ease; /* Opera */
        transition: all .5s ease;
}
.zoom-container .zoom-caption h3 {
	padding-top: 50px;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 12px;
	font-weight: 600;
	letter-spacing: -1px;
	text-transform: uppercase;
	color: #fff;
	opacity: 0;
}
.zoom-container:hover .zoom-caption h3, 
.zoom-container:hover .zoom-caption p {
	color:#fff;
	opacity:1;
	text-align: center;
}
.zoom-container:hover .zoom-caption p {
	font-size:8px;
	padding-top:0px;
}
.zoom-container:hover img {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
        -moz-transform:scale(1.25); /* Firefox */
        -ms-transform:scale(1.25); /* IE 9 */
        -o-transform:scale(1.25); /* Opera */
         transform:scale(1.25);
}
.zoom-container:hover .zoom-caption {
	background-color: #AD9973;
}
.project-image4 {
	margin-top: 30px;
}
.zoom-caption p {
	opacity: 0;
}
.row{
	padding-left:1.5em;
	padding-right:1.5em;
}
}




@media only screen and (min-width: 64.063em) and (max-width: 90em) {
.brand-heading {
	margin-bottom:280px;
}
.project-image4 {
	margin-top: 30px;
}
header { 
	clear:both;
}
.black-top {
	clear:both;
	width:100%;
	padding-top: 412px;
}
.black-footer {
	clear:both;
	width:100%;
}
.black-bottom {
	 clear: both;
	 width: 100%;
}
small {
	color:#fff;
}
.body-inverse {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: lighter;
	font-size:13px;
	text-align:justify;
}
.header-inverse {
    color: #fff;
	font-family: 'Open Sans';
	font-size: 27px;
}
a {
    color: #000;
}
a:hover {
    color: #AD9973;
    font-family: 'Open Sans';
}
nav ul {
    list-style-type: none;
    padding: 5px;
    margin-top: 19px;
    text-align: left;
	width:100%;
}
nav {
    background-color: white;
    position: fixed;
    font-family: 'Open Sans';
    width: 100%;
    z-index: 100;
	clear:both;
	/*margin: 0px;*/
}
nav li {
    display: inline;
    padding: 10px;
	width:100%;
}
.facebook-icon {
	margin-top: 26px;
}
.facebook-icon:hover {
	margin-top: 26px;
	opacity:0.1;
}
.twitter-icon {
	margin-top: 26px;
}
.twitter-icon:hover {
	margin-top: 26px;
	opacity:0.1;
}
.instagram-icon {
	margin-top: 26px;
}
.instagram-icon:hover {
	margin-top: 26px;
	opacity:0.1;
}
#contact {
    clear: both;
}
#about {
	margin-top:280px;
	margin-bottom:280px;
    clear: both;
}
img {
    width: 100%;
}
.project-black-top {
	clear:both;
	width:100%;
	margin-top:20px;
}
.project-images {
	margin-top:-1230px;
}
.project-image1 {
	margin-bottom:30px;
}
.project-button-next {
	padding-bottom:30px;
	padding-right:125px;
}
.project-button-previous {
	padding-bottom:30px;
	padding-left:125px;
}
.project-info {
	margin-top: 70px;
	margin-bottom: 60px;
}
.project-content {
	margin-bottom: 25px;
}
.project-info h3 {
		color: #AD9973;
	font-size:1.2em;
	font-family: 'Open Sans';
	font-weight:600;
	padding-bottom:.01em;
}
.project-info p {
	color: #000;
	font-size:.8em;
	font-family: 'Open Sans';
	font-weight:lighter;
	padding-bottom:50px;
}
.project-title h2 {
    margin-top: 150px;
    font-size: 60px;
    font-family: 'Open Sans';
    font-weight: bold;
    margin-bottom: 90px;
	text-align:center;
	clear:both
}
.project-title {
	margin-bottom: 100px;
	clear:both;
}
.copyright {
	margin-top:-30px;
}
h2 {
	font-family: 'Open Sans';
    font-size: 37.5px;
	font-weight:600;
    color: #AD9973;
	line-height: 50px;
	width:100%;
	margin-top:-12px;
}
p {
    font-family: 'Open Sans';
    font-weight: lighter;
	line-height: 22px;
	font-size:14px;
}
#work {
    clear: both;
	width: 100%;
	margin-top:-1618px;
}
.contact-icons { 
	padding-top: 57px;
}

.form-icon1 {
    margin-top:-10px;
	width: 15%;
	padding-right: 10px;
	/*padding-left: -15px;*/
	float: left;
}
.form-icon2 {
    margin-top:21px;
	width: 15%;
	padding-right: 10px;
	/*padding-left: -15px;*/
	float: left;
}
.contact-cell {
	margin-top:-5px;
}
.contact-email {
	margin-top:50px;
}
.email { 
	padding-top: 5px;
}
.phone { 
	padding-top: 35px;
}
a .project-1:hover {
    background-color: #AD9973;
}
small {
    float: right;
}

.thumb-content {
	opacity: 0;
}

/** Caption 3: Fade **/
.zoom-caption {
	opacity: .9;
	width: 100%;
	height: 100%;
	text-align: left;
	padding: 15px;
}
/** Fade Caption :hover Behaviour **/

.image-zoom-container {
	list-style: none;
	font-size: 0px;
	padding: 7px;
}
h3 { z-index:96;
}
form .button {
	width: 40%;
	padding-top:10px;
	padding-bottom: 10px;
	padding-right:5px;
	padding-left: 5px;
	border-color: #AD9973;
	border-width:medium;
	background-color:#fff;
	color: #000;
	font-family: 'Open Sans';
	font-weight: normal;
	font-size:13px;
	margin-top:17px;
	margin-left:0;
}
form .button:hover {
	background-color:#AD9973;
	font-family: 'Open Sans';
	font-weight:bolder;	
}
.title { 
clear:both
}
.thumb-content { z-index:96;
}
.zoom-container {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	font-size: 16px;
	font-size: 1rem;
/*	border: 1px solid #fff;*/
	vertical-align: top;
/*	box-sizing: border-box;*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.zoom-container img {
	display: block;
	width: 100%;
	height: auto;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
        -moz-transition: all .5s ease; /* Firefox */
        -ms-transition: all .5s ease; /* IE 9 */
        -o-transition: all .5s ease; /* Opera */
        transition: all .5s ease;
}
.zoom-container .zoom-caption {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
        -moz-transition: all .5s ease; /* Firefox */
        -ms-transition: all .5s ease; /* IE 9 */
        -o-transition: all .5s ease; /* Opera */
        transition: all .5s ease;
}
.zoom-container .zoom-caption h3 {
	padding-top: 115px;
	line-height: 13px;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	opacity: 0;
}
.zoom-container:hover .zoom-caption h3, 
.zoom-container:hover .zoom-caption p {
	color:#fff;
	opacity:1;
	text-align: center;
}
.zoom-caption p {
	font-size:14px;
}
.zoom-container:hover img {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
        -moz-transform:scale(1.25); /* Firefox */
        -ms-transform:scale(1.25); /* IE 9 */
        -o-transform:scale(1.25); /* Opera */
         transform:scale(1.25);
}
.zoom-container:hover .zoom-caption {
	background-color: #AD9973;
}
button, .button {
	width: 15%;
	padding-top:15px;
	padding-bottom:15px;
	padding-right:5px;
	padding-left: 5px;
	border-color: #AD9973;
	border-width:medium;
	background-color:#fff;
	color: #000;
	font-family: "Open Sans";
	font-weight: normal;
	font-size: 13px;
	margin-top:17px;
	margin-right: 25px;
	margin-left: 25px;
}
button, .button:hover {
	background-color:#AD9973;
	font-family: 'Open Sans';
	font-weight: bolder;	
}
.zoom-caption p {
	opacity: 0;
}
.blacktop {
	background-image:url(../images/black-section.svg);
}
}